.Toolbar {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "icon title .";
    grid-template-columns: 60px 1fr 60px;
    align-items: center;
}

.Toolbar button {
    background: none;
    border: none;
    cursor: pointer;
}

.Toolbar button:focus {
    outline: none;
}

.Toolbar button:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

.Toolbar-open{
    color: var(--main-bg-color);
}

.Toolbar-menu {
    z-index: 4;
    grid-area: icon;
    display: inline-block;
    vertical-align: center;
    text-align: center;
}

.Toolbar-title {
    grid-area: title;
    justify-self: center;
}

.Toolbar-title img {
    height: 30px;
    width: auto;
    fill: var(--secondary-bg-color);
}